# Exclude the raw data files.
**/*.sdriq
**/*.dat

# Exclude ipython checkpoints.
**/.ipynb_checkpoints/*

# Exclude python caching
**/__pycache__/*

# virtual environments
venv/

# vscode things
.vscode

# other misc things
.DS_Store
